/* CXA Demo Specific Variables */

$lightgrey1: #F5F5F5;
$lightgrey2: #f2f2f2;
$lightgrey3: #ddd;
$grey: #b3b3b3;
$grey2: #e6e6e6;
$black1: #4d4d4d;
$hotpink: #EB2479;
$green: #39b54a;
$orange: #f15a24;
$leather: #cf921c;


/* Emily new design colors */

$top_panel_black: #5d6063;
$body_text_black: #333333;
$table_header_grey: #8c8d92;
$background_purple: #f0eff4;
$table_content_lightgrey: #f6f6f6;
$icon_grey: #c6c6cc;
$cxa_green: #8dc640;